*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* Nav Bar */
.navBar{
  display:flex;
  justify-content: space-around;
  height:50px;
  align-items: center;
}
.navLink{
  border:1px solid black;
  padding:10px 5px;
  text-decoration: none;
  color:black;
}

/* Display a Post */
.singlePost{
  width:95%;
  padding:30px 15px;
  border: 1px solid black;
  margin:10px auto;
}

/* Create a Post */
.submitForm{
  display:flex;
  flex-direction: column;
  width:80vw;
  margin:0 auto;
}