*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  height:auto;
  width:100%;
  background:#f8f8f8;
}
input, button, textarea{
  height:30px;
  margin:10px 0;
}
input[type='password']{
  font: small-caption;
  font-size: 1rem;
}
label{
  font-size:1.4rem;
}
.buttonLink{
  text-decoration:none;
  color:black;
  border:1px solid black;
  padding:3px 7px;
  transition:all 0.2s ease;
}
.buttonLink:hover{
  transform:scaleX(1.05) scaleY(1.10);
}
/* Nav Bar */
.navBar{
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content:center;
  height:100px;
  width:100%;
  border-bottom:1px solid black;
  font-size:1.2rem;
}
.navLink{
  padding:10px 5px;
  text-decoration: none;
  color:black;
}
.navLink:hover{
  color:red;
}
.navSection{
  display:flex;
  width:70%;
  max-width:500px;
  margin:0 auto;
  justify-content: space-around;
  align-items: center;
}
.logo{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:2rem;
}
/* Home */
.homePage{
  background:#f8f8f8;
  padding:50px 0;
}
.bottomRow{
  display:flex;
  width:100%;
  justify-content: space-between;
  align-items:center;
}
.titleSection{
  font-size:24px;
  font-weight:600;
  border-bottom:2px solid black;
  padding:10px 0;
}
.singlePost{
  width:80%;
  padding:10px 20px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  margin:0 auto 50px auto;
}
.singlePost:last-child{
  margin-bottom:0;
}
.textSection{
  width:100%;
  margin:20px 0;
  min-height:100px;
  font-size:1.2rem;
  font-weight:400;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  white-space:pre-line;
  padding-left:1.25rem;
  padding-right:1.25rem;
  padding-top:10px;
}
.rightSide.bottom{
  display:flex;
  width:200px;
  justify-content: space-around;
  align-items:center;
}

/* Create a Post */
.formContainer{
  width:100%;
  display:flex;
  padding-top:20px;
  height:calc(100vh - 100px);
  flex-direction: column;
  max-width:700px;
  margin:0 auto;
}
.submitForm{
  display:flex;
  flex-direction: column;
}
.title{
  text-align: center;
  font-size:1.5rem;
  padding:20px 0;
}
.textArea{
  height:200px;
}
.errorContainer{
  height:100px;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size:1.3rem;
}
.createBtn{
  width:100%;
}
.checker{
  height:50px;
  display:flex;
  align-items:center;
}
#checkBox{
  width:30px;
  margin: 0 20px;
}
/* Delete */
.deletePost{
  display:flex;
  margin:0 auto;
  width:50%;
  flex-direction: column;
  margin-top:70px;
}
.deleteSection{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.deleteSection button{
  width:200px;
}
.deleteRow{
  display:grid;
  grid-template-columns: auto auto;
  grid-gap:24px;
}
/* View Post */
.viewContainer{
  width:100%;
  max-width:1000px;
  margin:0 auto;
  margin-top:70px;
}
.viewPost{
  display:flex;
  margin:0 auto;
  width:80%;
  flex-direction: column;
  padding:20px 0;
  margin-bottom:40px;

}

.textContainer{
  width:100%;
  margin:0 auto;
}
.viewTitle{
  font-size:3rem;
  padding-bottom:50px;
}
.viewText{
  font-size:1.2rem;
  border: 1px solid black;
  padding: 40px 45px;
  margin-bottom:30px;
  border-radius: 5px;
  white-space:pre-line;
}
.viewBottom{
  display:flex;
  justify-content: space-between;
}
.viewLinks{
  display:flex;
  justify-content: space-around;
  width:250px;
}
/* Delete Comment */
.deleteContainer{
  display:flex;
  flex-direction: column;
  width:100%;
  justify-content: center;
  align-items: center;
  height:80vh;
}
.deleteComment{
  display:flex;
  flex-direction: column;
  width:500px;
  justify-content: center;
  align-items: center;
}
/* Comment */
.commentSection{
  width:80%;
  overflow:hidden;
  margin:0 auto;
}
.commentTag{
  font-size:1.3rem;
  font-weight:bold;
  padding:0 0 10px 0;
}
.comment{
  border-bottom:2px solid black;
  padding:20px 0;
  width:100%;
}
.comment:last-child{
  margin-bottom: 70px;
}
.commentHead{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.commentName{
  font-size:1.5rem;
}
.commentDate{
  font-size:.8rem;
}
.commentText{
  padding:10px 0;
  white-space: pre-line;
}
.commentRight{
  display:flex;
justify-content:flex-end;
  text-align: end;
}
.viewFormContainer{
  width:80%;
  margin:0 auto;
}
.createComment{
  display:flex;
  width:100%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 70px;
}
.createComment label{
  font-size:1rem;
}
.createComment input, .createComment textarea{
  width:50%;
}
.createComment textarea{
  height:100px;
}
.singleDeleteComment{
  color:black;
  transition:all 0.2s ease;
}
.singleDeleteComment:hover{
  color:red;
}
/* Login Route */
.loginForm{
  display:grid;
  height:calc(100vh - 100px);
  grid-template-rows: 15% 15% 70%;
  grid-template-columns: 1fr;
  width:70%;
  max-width:600px;
  margin:0 auto;
  justify-content: center;
  align-content: center;
}
.inputWrapper{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
}
.inputSection{
  display:flex;
  flex-direction: column;
  width:80%;
}
.inputHeading{
  font-size:24px;
  padding:10px 0;
}
.submitBtn{
  width:80%;
  margin:10px auto;
}
.errorSection,.successSection{
  font-size:1.2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100vh;
  font-size:50px;
}